#google-maps {
  background-color: var(--gray-base);
}

.footer {
  background-color: var(--brand-primary);

  .important {
    color: white;
  }
}

@media (--mobile) {
  .footer {
    .logo {
      width: 100%;
    }
  }
}
