@media (--screen-sm) {
  .header {
    padding-top: 70px;
  }
  .header-wrapper {
    height: 600px;
  }
}
.header-wrapper {
  background-color: var(--offwhite-base);
}

.navbar-default {
  background-color: var(--brand-lighter);
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
