{% set pageData = { title: 'Soins corps & massage', nav: {body: true} } %} {% extends 'layouts/application.html' %} {% import
'layouts/row-price.html' as rowPrice %} {% block header %}
<div class="header-wrapper header-body">
    {% include "layouts/header.html" %}
    <div class="container">
        <div class="row">
            <div class="col-md-7 text-center">
                <h1 class="text-left">
                    Soins corps,
                    <br/>Soins amincissants
                </h1>
                <a href="#" title="" class="btn btn-secondary">Tarifs</a>
            </div>
        </div>
    </div>
</div> {% endblock %} {% block content %}
<div class="container main-container body">
    <div class="row row-section">
        <div class="col-md-6">
            <h3>Gommage corps</h3>
            <p>
                Dans l'assiette, l'abus du sel est déconseillé, mais il est plutôt recommandé pour la peau. Le sel est un activateur de circulation
                sanguine, c'est un excelent exfoliant aux vertus 100% naturelles qui combine des actions régénérantes, tonifiantes,
                amincisantes, et cicatrisantes. Les huiles végétales et huiles essentieles qui y sont associées apportent
                hydratation, détente et légérété..
            </p>
        </div>
        <div class="col-md-6">
            <img alt="illustration à propos" src="images/body-gommage.jpg" width="475" height="294">
        </div>
    </div>
    <div class="row row-section">
        <div class="col-md-12">
            <h3>TechniSPA® Advanced System Minceur Anti-Cellulite</h3>
            <p>
                Les performances exceptioonnelles des soins TechniSPA® sont obtenues grâce à l'asociation de trois technologies spécifiques
                simultanées :
            </p>
        </div>
        <div class="col-md-12">
            <div class="row row-section media">
                <div class="col-md-4 media-item">
                    <img alt="illustration à propos" src="images/body-spa.jpg" width="217" height="217">
                    <h3 class="">Double Dermo Lipo-Aspiration</h3>
                    <p class="">
                        En un seul mouvement technique, la poignée de modelage effectue deux actions minceur. La peau est mobilisée par lipo-aspiration
                        en deux plis cutanés qui doublent son efficacité pour le même temps de soin. Système breveté.
                    </p>
                </div>
                <div class="col-md-4 media-item">
                    <img alt="illustration à propos" src="images/body-spa2.jpg" width="217" height="217">
                    <h3 class="">Double Ionisation Minceur</h3>
                    <p class="">
                        La technique de double ionisation permet d'augmenter la pénétration et la diffusion des actifs minceur contenus dans les
                        ACTISERUMS et ainsi augmenter la performance du soin.
                    </p>
                </div>
                <div class="col-md-4 media-item">
                    <img alt="illustration à propos" src="images/body-spa3.jpg" width="217" height="217">
                    <h3 class="">Effet Thermique Minceur</h3>
                    <p class="">
                        Un dispositif de diffusion de chaleur permettant de fluidifier les graisses à la surface de la peau et d'augmtenter la microcirculation
                        cutanée pour faciliter le drainage afin de lisser les capitons tout en apportant du confort.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-section">
        <div class="col-md-6">
            <img alt="illustration à propos" src="images/body-celutec.jpg" width="375" height="475">
        </div>
        <div class="col-md-6">
            <h3>G5 Celutec</h3>
            <p>
                Résultats rapides etvisibles dès la 1ère séance.Retrouvez rapidement une sensa on de légèreté. Cel lutec est une techniqued'amincisementparpercusionetvibra
                on,quicible les zones rebeles grâce à des embouts spécifiques.La technologie vibratoire est idéale dans
                toute recherche d'amincisementetderemodelageducorpspuisqu'elepermet
            </p>
            <ul>
                <li>
                    de mobiliser et de caser les amas graisseux, - de désengorger les tissus - des stimuler la circulatioon sanguine et lymphaphatique
                </li>
                <li>
                    de frictioonner et d'améliorer la qualité de la peau (effet tenseur)
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 row-bg massage">
            <div class="row">
                <div class="col-md-5 pull-right">
                    <h2>Massages</h2>
                    <button class="btn btn-primary">Tarifs</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-section">
        <div class="col-md-12">
            <p>
                Le massage est un art, il apporte bien être, vitalité et soutient mental. Un art que nous voulons vous faire découvrir avec
                passion et professionnalisme.
            </p>
        </div>
    </div>
    <div class="row row-section">
        <div class="col-md-5">
            <h3>Massage relaxant</h3>
            <p>
                Il a pour but d'éliminer toutes les tensions musculaires et psychiques que l'on peut accumuler au cour de notre parcours,
                grâce à l'huile de graine de sésame et les huiles esentieles associés vous retrouverez douceur de peau,
                vitalité et esprit détendu.
            </p>
            <h3>Ayurveda</h3>
            <p>
                Nous vous offrons une technique de masage traditionnel unique, pratiquée par les Indiens depuis des milénaires : c'est le
                massage ayurvédique, aux multiples bienfaits. C'est un soin énergisant, rééquilibrant, il participe à l'élimination
                des toxines et facilite la circulation sanguine et lymphatique.
            </p>
        </div>
        <div class="col-md-7">
            <img alt="illustration à propos" src="images/body-massage-relaxant.jpg" width="540" height="436">
        </div>
    </div>
    <div class="row row-section">
        <div class="col-md-7">
            <img alt="illustration à propos" src="images/body-massage-sportif.jpg" width="547" height="435">
        </div>
        <div class="col-md-5">
            <h3>Massage sportif</h3>
            <p>
                Le Massage sportif favorise la récupération en évacuant les toxines qui se forment pendant l'effort physique, il prévient
                l'apparition des courbatures après l'effort, purifie le sang et relaxe intégralement le corps en éliminant
                les tensions.
            </p>
            <h3>Futurs mamans</h3>
            <p>
                Pour nos futures Mamans, nous proposons pour elles aussi un soin spécifique pour leur apporter douceur et sensation de légèreté
                et ainsi les accompagner durant leur grossese. Ce massage est axé sur le drainage afin d'alléger les jambes
                et la sensation de lourdeur, il permet de diminuer la rétention d'eau due à la grossese.
                <br/>Prenons soin de nos futures mamans!
            </p>
        </div>
    </div>
    <div class="row row-section">
        <div class="col-md-12">
            <h3 class="text-center">Bonus : Réflexologie plantaire Thaïe</h3>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <p>
                Vos pieds vous portent et vous aident à avancer tout au long de votre chemin de vie. Prenez soin d'eux. La Réflexologie plantaire
                Thaïe apporte une relaxation intense tout en renforçant la vitalité !
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 row-bg reflexologie">
        </div>
    </div>
    <div class="row row-section">
        <div class="col-md-8 col-md-push-2">
            <h2>Tarifs</h2>
            {{ rowPrice.row('GOMMAGE CORPS', value='35€', time='30mn') }} {{ rowPrice.row('GOMMAGE CORPS', value='35€', time='30mn')
            }} {{ rowPrice.row('GOMMAGE CORPS', value='35€', time='30mn') }} {{ rowPrice.row('GOMMAGE CORPS', value='35€',
            time='30mn') }} {{ rowPrice.row('GOMMAGE CORPS', value='35€', time='30mn') }} {{ rowPrice.row('GOMMAGE CORPS',
            value='35€', time='30mn') }} {{ rowPrice.row('GOMMAGE CORPS', value='35€', time='30mn') }}
        </div>
    </div>
</div>
{% include "layouts/footer.html" %} {% endblock %}
