@font-face {
  font-family: 'flexoregular';
  src: url('../fonts/flexo-regular-webfont.woff2') format('woff2'),
    url('../fonts/flexo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'maneo';
  src: url('../fonts/Maneo_TRIAL.otf') format('otf'),
    url('../fonts/Maneo_TRIAL.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
