<div class="container">
    <div class="row">
        <div class="col-md-12 row-bg" id="google-maps">
            <div></div>
        </div>
    </div>

    <div class="row row-section footer">
        <div class="col-md-9">
            <div>
                <p>
                    <img src="images/logo.svg" class="logo" width="390" height="44">
                </p>
                <p>Institut de beauté</p>
            </div>
            <div>
                <p>
                    35 rue Hector Berlioz,
                    <br/>69009 LYON
                    <br/>04 78 47 21 38
                </p>
            </div>
            <div>
                <p class="important">
                    Mardi au Vendredi - 9h/19h
                    <br/>Samedi - 9h/17h
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <p class="important">
                En parteneriat avec :
            </p>
            <p class="text-center">
                <img src="images/logo-guinot.png" />
            </p>
            <p class="text-center">
                <img src="images/logo-couleur-caramel.png" />
            </p>
        </div>
    </div>
</div>
