<div class="container">
    <div class="row">
        <div class="col-md-12 row-bg" id="google-maps">
            <div></div>
        </div>
    </div>

    <div class="row footer">
        <div class="col-md-8">
            <div>
                <p>35 rue Hector Berlioz</p>
                <p>69009 Lyon</p>
                <p>04 78 47 21 38</p>
            </div>
            <div>
                <p class="text-white">Mardi au Vendredi - 9h/19h</p>
                <p>Samedi - 9h/17h</p>
            </div>
        </div>
        <div class="col-md-4">
            <p>En parteneriat avec</p>
        </div>
    </div>
</div>