<header class="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <img src="images/logo.svg" class="logo" width="500" height="56">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#acxiom-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Déplier la navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#">
                    <img alt="Brand" src="images/acxiom__brand.png" width="110" height="26">
                </a> -->
            </div>

            <div class="collapse navbar-collapse" id="acxiom-navbar-collapse">
                <div class="navbar-left">
                    <ul class="nav navbar-nav">
                        <li class="{% if pageData.nav.home %}active{% endif %}"><a href="index.html"><span class="text">Accueil</span></a></li>
                        <li class="{% if pageData.nav.face %}active{% endif %}"><a href="#"><span class="text">Soins visage</span></a></li>
                        <li class="{% if pageData.nav.body %}active{% endif %}"><a href="body.html"><span class="text">Soins corps & massage</span></a></li>
                        <li class="{% if pageData.nav.waxing %}active{% endif %}"><a href="#"><span class="text">Epilations</span></a></li>
                        <li class="{% if pageData.nav.nail %}active{% endif %}"><a href="#"><span class="text">Soins ongles & maquillage</span></a></li>
                        <li class="{% if pageData.nav.contact %}active{% endif %}"><a href="#"><span class="text">Contact & informations</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
