<div class="col-md-6">
    <h2>Nos derniers posts</h2>
    <div class="news" id="news">
        <div class="news-item">
            <img src="images/placeholder-news.jpg" />
            <div class="news-tile">
                <a href="#" title="">
                    <p class="news-date text-secondary">publié le 29 Juin 2017</p>
                    <p class="news-content text-secondary">Les soldes sont aussi chez Métamorphoses !</p>
                </a>
            </div>
        </div>
        <div class="news-item">
            <img src="images/placeholder-news.jpg" />
            <div class="news-tile">
                <a href="#" title="">
                    <p class="news-date text-secondary">publié le 29 Juin 2017</p>
                    <p class="news-content text-secondary">Les soldes sont aussi chez Métamorphoses !</p>
                </a>
            </div>
        </div>
        <div class="news-item">
            <img src="images/placeholder-news.jpg" />
            <div class="news-tile">
                <a href="#" title="">
                    <p class="news-date text-secondary">publié le 29 Juin 2017</p>
                    <p class="news-content text-secondary">Les soldes sont aussi chez Métamorphoses !</p>
                </a>
            </div>
        </div>
        <div class="news-item">
            <img src="images/placeholder-news.jpg" />
            <div class="news-tile">
                <a href="#" title="">
                    <p class="news-date text-secondary">publié le 29 Juin 2017</p>
                    <p class="news-content text-secondary">Les soldes sont aussi chez Métamorphoses !</p>
                </a>
            </div>
        </div>
    </div>
</div>
